{{!< default}}

<div class= "container">
	<h3> Profile Details </h3>
	<div class ="row">
		<label class="col-md-2">First Name</label>
		<p>{{user.name.first}}</p>
	</div>
	<div class ="row">
		<label class="col-md-2">Last Name</label>
		<p>{{user.name.last}}</p>
	</div>
	<div class ="row">
		<label class="col-md-2">Email</label>
		<p>{{user.email}}</p>
	</div>
	<h3> Facebook Details </h3>
	<div class ="row">
		<label class="col-md-2">Facebook ID</label>
		<p>{{user.facebook.fid}}</p>
	</div>
	<h3> Google Details </h3>
	<div class ="row">
		<label class="col-md-2">Google ID</label>
		<p>{{user.google.fid}}</p>
	</div>
	<button><a href="/healthForm">EDIT HEALTH PROFILE</button>
</div>